<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.getName()}"></td>
    </tr>
</table>
<table>
    <tr th:each="song: ${songs}">
        <td th:text="${song.getSongTitle()}">
        </td>
    </tr>
</table>
<table>
    <tr th:each="genre: ${genres}">
        <td th:text="${genre.getGenre()}">
        </td>
    </tr>
</table>
<form action="#" th:action="@{/searchString}" th:object="${searchString}" method="post">
<label for="search">Search</label>
<input type="text" id="search" th:field="*{searchString}" required>
<button type="submit">Search</button>
</form>
</body>
</html>