<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.getName()}"></td>
    </tr>
</table>
<table>
    5 RANDOM SONGS HERE
</table>
<table>
    AND 5 RANDOM GENRES HERE
</table>
</body>
</html>